{{!-- {{shops}} --}}

<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->

    <!-- Style sheet -->
    <style>
        .masthead {
            height: 1000px;
            min-height: 500px;
            background-image: url('https://images.unsplash.com/photo-1545060894-7e7f4895450f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80');
            background-size: 50% 50%;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .parent {
            position: relative;
            top: 0;
            left: 0;
        }

        .image1 {
            position: relative;
            top: 0;
            left: 0;
            height: 575px;
            width: 150px;
        }

        .image2 {
            position: absolute;
            top: -20px;
            right: -20px;
            height: 60px;
            width: 60px;
            border-radius: 10px;
        }

        #block1 {
            border: 1px solid black;
            padding: 15px;
            background: #FFF7DD;
            background-clip: padding-box;
        }

        .timesfont {
            font-family: 'Times New Roman', Times, serif;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .impactfont {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .cleanfont {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        .brushfont {
            font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .column {
            float: left;
            width: 50%;
            padding: 0 40px;
        }

        .row {
            margin: 0 -5px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        * {
            box-sizing: border-box;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            /* this adds the "card" effect */
            text-align: center;
            background-color: #f1f1f1;
        }



    </style>

     <!-- getbootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shop.css">

    <!-- Iconic -->
    {{!-- <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"> --}}




    <!-- Heading title -->

   

    <!-- Page Content -->
<div class="card shadow-sm mb-5 bg-white rounded" style="margin-top: 30px">
    <section class="py-5">
        <div class="container align-items-center">
            <div class="text-center">
                <div>
                    <h1 class="brushfont">{{ user.username }}</h1>
                    <button type="button" onclick="window.location.href='/shop/addItems'" class="btn btn-success btn-lg">Add Item</button>
                    <p>Featured Products</p>
                </div>
                <br>
                <br>
                <br>

                <!-- Products -->

                <div class="container">
                {{#if shops}}
                    <div>
                        <div class="row"></div>
                        {{#each shops}}

                        
                            <div class="column">
                                <div class="card">
                                    <a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
                                        <img src="{{posterURL}}" alt="Poster unavailable" onerror="this.src='/images/no-image.jpg'" class="img-thumbnail img-fluid card-img-top image1">
                                    </a>
                                    <a href="{{posterURL2}}" data-title="{{title}}" data-toggle="lightbox2">
                                        <img src="{{posterURL2}}" alt="Brand unavailable" onerror="this.src='/images/no-image.jpg'" class="img-thumbnail img-fluid image2">
                                    </a>
                                    <div class="card-body">

                                        <h5 class="card-title">{{title}}</h5>
                                        <p class="card-text">{{story}}</p>
                                        <!-- Button -->

                                        <a role="button" href="/shop/delete/{{id}}" class="btn btn-danger">Delete Item</a>
                                        <a role="button" href="/shop/editItems/{{id}}" class="btn btn-info">Edit Item</a>
                                        
                                    </div>
                                </div>
                            </div>
                        
                        



                        {{/each}}
                    </div>

                </div>
                {{else}}
                    <h3>No shops found</h3>
                {{/if}}

                

            </div>
        </div>
    </section>
</div>

    {{!-- <!-- Footer -->
    <footer class="page-footer font-small blockquote-footer" style="margin: 50px">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">Copyright © 2019 :
            <p>KitchenNiuvo - All Rights Reserved.</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer --> --}}


<script src="/js/shop.js"></script>