

    <!-- Style sheet -->
    <style>
        .masthead {
            height: 1000px;
            min-height: 500px;
            background-image: url('https://images.unsplash.com/photo-1545060894-7e7f4895450f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80');
            background-size: 50% 50%;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #e9ebee;
        }

        .parent {
            position: relative;
            top: 0;
            left: 0;
        }

        .image1 {
            position: relative;
            top: 0;
            left: 0;
            height: 575px;
            width: 150px;
        }

        .image2 {
            position: absolute;
            top: -20px;
            right: -20px;
            height: 60px;
            width: 60px;
            border-radius: 10px;
        }

        #block1 {
            border: 1px solid black;
            padding: 15px;
            background: #FFF7DD;
            background-clip: padding-box;
        }

        .timesfont {
            font-family: 'Times New Roman', Times, serif;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .impactfont {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .cleanfont {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        .brushfont {
            font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .column {
            float: left;
            width: 50%;
            padding: 0 40px;
        }

        .row {
            margin: 0 -5px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        * {
            box-sizing: border-box;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            /* this adds the "card" effect */
            text-align: center;
        }
    </style>


    <!-- getbootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shop.css">

    <!-- Iconic -->
    {{!-- <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"> --}}




    <!-- Heading title -->
<div class="card shadow-sm mb-5 bg-white rounded" style="margin-top: 30px">
    <!-- Full Page Image Header with Vertically Centered Content -->
        <div class="container">
            <div class="py-5 row align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light cleanfont">KitchenIuvo</h1>
                    <p class="lead cleanfont">Your faithful assistant</p>
                    <br><br>
                    <img src="https://images.unsplash.com/photo-1545060894-7e7f4895450f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80" style="height: 500px; width: 760px;">
                    <br><br>
                </div>
            </div>
        </div>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container align-items-center">
            <div class="text-center">
                <div id="block1" class="impactfont">
                    <h2 class="font-weight-light">ON SALE</h2>
                    <p>Featured Products</p>
                </div>
                <br>
                <br>
                <br>

                <!-- Products -->

                <!-- Lazada apples -->
                {{!-- <div class="row">
                    <div class="column">
                        <div class="card">
                            <img class="card-img-top image1" src="https://images.unsplash.com/photo-1535622380377-1e347c44a12d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
                                alt="Apple">
                            <img class="image2" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Lazada_Vietnam_Logo_Version_5.png">
                            <div class="card-body">

                                <h5 class="card-title">Apple</h5>
                                <p class="card-text">Red Delicious Apples. Rich in vitamin C, satisfactory flavour. </p>
                                <!-- Button -->
                                <button type="button" class="btn btn-success" onclick="" ><span>♥</span> Like</button>
                                <a href="https://www.lazada.sg/products/premium-double-red-apples-i303438934-s536826715.html?spm=a2o42.redmart_categories.list.10.49ee40b4Ec0dhN&search=1" target="_blank"
                                    class="btn btn-primary">Visit Site</a>
                            </div>
                        </div>
                    </div>


                    <!-- Supernature Salmon -->
                    <div class="column">
                        <div class="card">
                            <img class="card-img-top image1" src="https://images.unsplash.com/photo-1499125562588-29fb8a56b5d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
                                alt="Salmon">
                            <img class="image2" src="https://www.giving.sg/image/journal/article?img_id=3243429">
                            <div class="card-body">

                                <h5 class="card-title">Salmon</h5>
                                <p class="card-text">Organic quality Salmon. High in omega3. </p>
                                <!-- Button -->
                                <button type="button" class="btn btn-success" onclick=""><span>♥</span> Like</button>
                                <a href="http://www.supernature.com.sg/eshop/shop_detail.php?prodid=5270" target="_blank"
                                    class="btn btn-primary">Visit Site</a>
                            </div>
                        </div>
                    </div>

                </div> --}}

                <div class="container">
                {{#if shops}}
                    <div>
                        <div class="row"></div>
                        {{#each shops}}

                        
                            <div class="column">
                                <div class="card">
                                    <a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
                                        <img src="{{posterURL}}" alt="Poster unavailable" onerror="this.src='/images/no-image.jpg'" class="img-thumbnail img-fluid card-img-top image1">
                                    </a>
                                    <a href="{{posterURL2}}" data-title="{{title}}" data-toggle="lightbox2">
                                        <img src="{{posterURL2}}" alt="Brand unavailable" onerror="this.src='/images/no-image.jpg'" class="img-thumbnail img-fluid image2">
                                    </a>
                                    <div class="card-body">

                                        <h5 class="card-title">{{title}}</h5>
                                        <p class="card-text">{{story}}</p>
                                        <!-- Button -->
                                        <button type="button" class="like_button btn btn-success" onclick="" ><span class="count">{{likes}} </span> Like ♥</button>
                                        <a href="{{link}}" target="_blank"
                                            class="btn btn-primary">Visit Site</a>

                                        
                                    </div>
                                </div>
                            </div>
                        
                        



                        {{/each}}
                    </div>

                </div>
                {{else}}
                    <h3>No shops found</h3>
                {{/if}}



            </div>
        </div>
    </section>
</div>
    {{!-- <!-- Footer -->
    <footer class="page-footer font-small blockquote-footer">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">Copyright © 2019 :
            <p>KitchenNiuvo - All Rights Reserved.</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer --> --}}
</div>

<script src="/js/shop.js"></script>