<link rel="stylesheet" href="/css/newreminder.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<h1>Editing entry: {{{timeformat date}}}</h1>
<form action="/reminder/saveEditedFood/{{ReminderList.id}}?_method=PUT" method="POST" id="addFood">
    <div class="pre-scrollable" style="height:auto;" id="border   ">
        <div class="form-check">
            <select id="selectpicker" name="category" value="{{ReminderList.category}}" class="form-control">
                <option>{{ReminderList.category}}</option>
                {{#each foodcategory}}
                <option>{{foodcategory}}</option>
                {{/each}}
            </select>
        </div>
        <br>
        <div class="form-check">
            <select id="select" name="food" value="{{ReminderList.food}}" class="form-control">
                <option>{{ReminderList.food}}</option>
                {{#each fooddatabases}}
                <option>{{fooditem}}</option>
                {{/each}}
            </select>
        </div>
        <br>
        <div class="form-check">
            <input type="text" id="quantity" name="quantity" value="{{ReminderList.quantity}}"></input>
            <br>
            <hr style="height:1px; border:none; color:#000; background-color:#000;">
        </div>
    </div>
    <button type="submit" id="butaddFood" class="btn btn-success">Save </button>
    <button type="button" class="btn btn-light" style="color :crimson"
        onclick="window.location.href ='/reminder/listreminder'">Back</button>
    </input>
</form>
<script>
    var select = new Boolean(true)
    function selectun() {

        if (select == true) {
            $('input[name=Food]').prop('checked', true);
            select = new Boolean(false)
        }
        else {
            $('input[name=Food]').prop('checked', false);
            select = new Boolean(true)
        }
    };
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
    });

    $("#selectpicker").select2({
        placeholder: "Select Food",
        allowClear: true
    });
    $("#select").select2({
        placeholder: "Select Category",
        allowClear: true
    });
</script>